{% extends 'base.html' %}
{% load static %}

{% block body_content %}
    <div class="py-4">
        <div class="container" id="post">
            <div class="row">
                <!-- Main Content -->
                <main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                    {% block main_content %}
                        
                    {% endblock %}
                </main>
                <!--左边栏//TODO-->
                <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                    {% block aside_content %}

                    {% endblock %}
                </aside>

            </div>
        </div>
    </div>
{% endblock %}