{% load static %}
{% verbatim vue2 %}
<div class="modal fade" id="dialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content d-flex box mb-3 shadow-sm border rounded osahan-post" style="width: 150%">
                <div class="box mb-3 shadow-sm border rounded bg-white osahan-post">
                    <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">
                        <div class="dropdown-list-image mr-3">
                            <img alt="" class="rounded-circle" src={{ article.author.user_avatar }}>
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">{{ article.author.username }}</div>
                            <div class="small text-gray-500">{{ article.author.phone_number }}</div>
                        </div>
                        <span class="ml-auto small">3 hours</span>
                    </div>
                    <div class="p-3 border-bottom osahan-post-body">
                        <p>{{ article.content }}<a href="#">{{ article.tags_list }}</a></p>
                        {% if article.image %}
                            <img class="img-fluid" alt="Responsive image" src="{{ article.image }}">
                        {% endif %}
                    </div>

                    <div v-for="comment in commentList"
                         class="p-3   border-bottom osahan-post-comment">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" alt="" src={% static 'img/p7.png' %}>
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">
                                {% verbatim vue %}{{ comment.author.username }} {% endverbatim vue %}<span
                                    class="float-right small">2 min</span>
                            </div>
                            <div class="small text-gray-500">
                                {% verbatim vue %}{{ comment.content }} {% endverbatim vue %}
                            </div>
                        </div>
                    </div>

                    <div class="p-3">
                        <div class="p-3 w-100">
                    <textarea placeholder="你的想法..." id="comment_content" class="form-control border-0 p-0 shadow-none"
                              rows="2" ></textarea>
                        </div>
                        <div class="border-top p-3 d-flex align-items-center">
                            <div class="mr-auto"></div>
                            <div class="flex-shrink-1">
                                <button type="button" id="comment_btn"
                                        v-on:click="postComment({{ article.pk }},document.getElementById('comment_content').value)"
                                        class="btn btn-primary btn-sm"> &emsp;评论&emsp;
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
{% endverbatim vue2 %}