{% if request.user.is_authenticated %}
        <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
            <div class="py-4 px-3 border-bottom">
                <img class="img-fluid mt-2 rounded-circle" alt="Responsive image"
                     src="{{ request.session.user_avatar }}">
                <h5 class="font-weight-bold text-dark mb-1 mt-4">{{ request.session.username }}</h5>
                <p class="mb-0 text-muted">User</p>
            </div>
            <div class="box p-3 border-bottom">
                <p>{{ request.session.desc }}</p>
            </div>
            <div class="d-flex">
                <div class="col-6 border-right p-3">
                    <h6 class="font-weight-bold text-dark mb-1">{% if request.session.fanscount %}
                        {{ request.session.blogcount }}
                    {% else %}0{% endif %} </h6>
                    <p class="mb-0 text-black-50 small">粉丝数</p>
                </div>
                <div class="col-6 p-3">
                    <h6 class="font-weight-bold text-dark mb-1">{{ articles.count }} </h6>
                    <p class="mb-0 text-black-50 small">微博数</p>
                </div>
            </div>
            <!--  -->
            <div class="overflow-hidden border-top">
                <a class="font-weight-bold p-3 d-block" href="profile.html">个人中心</a>
            </div>
        </div>
    {% else %}
        <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
            <div class="py-4 px-3 border-bottom">
                <h5 class="font-weight-bold text-dark mb-1 mt-4">请先登录</h5>
            </div>
            <div class="overflow-hidden border-top">
                <a class="font-weight-bold p-3 d-block" href="{% url 'user:login' %}">登录</a>
            </div>
        </div>
    {% endif %}